body {
  font-family: 'Droid Serif', serif;

  main.container {
    /*font-size: 20px;*/

    p {
      text-align: justify;
    }
    p.lead {
      /*font-size: 1.75em;
      line-height: 1.125;*/
    }
  }
}